<div id="wrapper">
    <div id="header">
        <%= image_tag 'rogo4.jpg', class: 'rogo' %>
    </div>

    
    <div id="main">
      <div id="menu">
        
        <label class="open" for="pop-up">
          <div class="text"><div class="button03">
          使い方を見る</div></div>
        </label>
              
        <input type="checkbox" id="pop-up">
          <div class="overlay">
            <div class="window">
            <label class="close" for="pop-up">×</label>
                  今日はどんな一日でしたか？<br>
              		出来事を記録してみましょう。<br>
              		書く話題に困ったら、入力フォーム上部に表示されるお題を参考にしてみてくださいね。<br>
            </div>
          </div><br>
          
          
        <p><%= link_to '新規投稿', '/diaries/new', class: 'button01' %></p><br>
        <p><%= link_to 'ユーザ一覧', users_path, class: 'button02' %></p><br>
        <p><%= link_to 'ログアウト',  login_logout_path, class: 'button02' %></p><br>
        <p>　</p>
        <h3>お題一覧</h3>
        <% @q.each do |e| %>
          <div align="left"><p><%= link_to "##{e.question}", diaries_path(q: e.id) %></p></div>
        <% end %>
      </div>
      
      
      
      <div id="contents">
        <% if flash[:notice] %>
        <%= flash[:notice] %>
        <% end %>
        
        <% if params[:each].nil? %>
          <% if params[:q].present? %>
            <% @diaries.each do |e| %>
              <% if params[:q].to_i == e.qid %>
                <div class="toukou"><div class="kakomi-box1">
                <header align="right"><%= e.date %>   <%=time_ago_in_words(e.created_at)%>前<br></header>
                <h3>
                <% user = User.find_by(id: e.user_id) %>
                <p　align="center"><%= user.name %>さん</p>
                <p>　</p>
                <%= e.title %>
                </h3>
                <p>　</p>
                <h4><%= safe_join(e.message.split("\n"),tag(:br)) %></h4>
                <p>
                <div class="img">
                <% if e.file.present? %>
                  <p>　</p>
                  <%= image_tag "/get_image/#{e.id}" %>
                <% end %>
                </div>
                </div>
                <% if session[:login_uid] == e.user_id %>
                  <p> </p>
                  <%= link_to '削除', "/diaries/#{e.id}", method: :delete, class: 'button04' %>
                  <%= link_to '編集', "/diaries/#{e.id}/edit", class: 'button04' %>
                <% end %>
                <% if session[:login_uid] == e.user_id %>
                  <p align="center"><%= link_to '自分の投稿のみ閲覧', diaries_path(each: e.user_id) %></p>
                <% else %>
                  <p align="center"><%= link_to 'このユーザの投稿のみ閲覧', diaries_path(each: e.user_id) %></p>
                <% end %>
                </p><br>
                </div>
              <% end %>
            <% end %>
            <%= link_to '戻る', diaries_path %>
          <%else%>
            <% @diaries.each do |e| %>
             <div class="toukou"><div class="kakomi-box1">
             <header align="right"><%= e.date %>   <%=time_ago_in_words(e.created_at)%>前<br></header>
             <h3>
             <% user = User.find_by(id: e.user_id) %>
             <p　align="center"><%= user.name %>さん</p>
             <p>　</p>
             <%= e.title %>
             </h3>
             <p>　</p>
             <h4><%= safe_join(e.message.split("\n"),tag(:br)) %></h4>
             <p>
             <div class="img">
             <% if e.file.present? %>
               <p>　</p>
               <%= image_tag "/get_image/#{e.id}" %>
             <% end %>
             </div>
             </div>
             <% if session[:login_uid] == e.user_id %>
                <p> </p>
                <%= link_to '削除', "/diaries/#{e.id}", method: :delete, class: 'button04' %>
                <%= link_to '編集', "/diaries/#{e.id}/edit", class: 'button04' %>
             <% end %>
             <% if session[:login_uid] == e.user_id %>
                <p align="center"><%= link_to '自分の投稿のみ閲覧', diaries_path(each: e.user_id) %></p>
             <% else %>
                <p align="center"><%= link_to 'このユーザの投稿のみ閲覧', diaries_path(each: e.user_id) %></p>
             <% end %>
             </p><br>
             </div>
            <% end %>
          <% end %>
        <% else %>
        <% @diaries.each do |e| %>
          <div class="toukou"><div class="kakomi-box1">
            <header align="right"><%= e.date %>   <%=time_ago_in_words(e.created_at)%>前<br></header>
            <h3>
            <% user = User.find_by(id: e.user_id) %>
            <p><%= user.name %>さん</p>
            <%= e.title %>
            </h3>
            <h4><%= e.message %></h4>
            <p>
              <div class="img">
              <% if e.file.present? %>
              <%= image_tag "/get_image/#{e.id}" %>
              <% end %>
              </div>
              </div>
                <p> </p>
                <% if session[:login_uid] == e.user_id %>
                <%= link_to '削除', "/diaries/#{e.id}", method: :delete, class: 'button04' %>
                <%= link_to '編集', "/diaries/#{e.id}/edit", class: 'button04' %>
              <% end %>
            </p><br>
          </div>
        <% end %>
        <%= link_to '戻る', diaries_path %>
      <% end %>
      </div>
      
    </div>
    
    <div id="footer">
       (c)copy right
    </div>
    
  </div> 