
<% @users.each do |e| %>
<% if session[:login_uid] == e.id %>
  <p>
    <%= e.name %>
    <%= e.email %>
    <%= link_to '削除', user_path(e), method: :delete %>
  </p>
<% else %>
    <%= e.name %>
    <%= e.email %>
<% end %>

<% end %>

<p>
  <%= link_to '新規ユーザ追加', new_user_path %>
</p>

<p>
  <%= link_to 'ホームへ', diaries_path %>
</p>
<%= link_to 'ログアウト',  login_logout_path %>