<div id="wrapper">
    <div id="header">
       <%= image_tag 'rogo4.jpg', class: 'rogo' %>
    </div>
        
    <div id="main">
      <div id="menu">
        <p><%= link_to '新規ユーザ追加', new_user_path, class: 'button02' %></p>
        <p><%= link_to 'ホームへ', diaries_path, class: 'button02' %></p>
        <p><%= link_to 'ログアウト',  login_logout_path, class: 'button02' %></p>
      </div>
      
      <div id="contents">
        <% if @user.errors.present? %>
        <h3>エラーがあります。</h3>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
        <% end %>
        
        <%= form_for @user, url: {action: :create} do |f| %>
          <p><%= f.label :name, 'ユーザー名' %></p>
          <p><%= f.text_field :name, placeholder: "User name" %></p> 
          <p><%= f.label :email, 'メールアドレス' %></p>
          <p><%= f.text_field :email, placeholder: "Email" %></p>
          <p><%= f.label :password, 'パスワード' %></p>
          <p><%= f.password_field :password, placeholder: "Password" %></p>
          <br>
          <p><%= f.submit '登録' %></p>
        <% end %>
      </div>
      
    </div>
    
    <div id="footer">
      (c)copy right
    </div>
</div>


